<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="Hippodrome">
    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%p] %c : %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs/">
                    <IfFileName glob="logs/hippodrome-*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
